#cadastro{
    text-transform: uppercase;
    font-size: 3rem;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 3% 5%;
    text-align:left;
    margin: 10px auto;
    border-radius: 32px 24px 32px 24px;

}
.textos{
    width: 800px;
    height: 40px;
    border-radius: 24px 32px 24px 32px;
    font-size: 2rem;
    padding-left: 25px;
    padding-right: 25px;
    text-transform: uppercase;
}
.submit{
    width: 400px;
    height: 40px;
    border-radius: 24px 32px 24px 32px;
    font-size: 2rem;
    padding-left: 25px;
    padding-right: 25px;
    text-transform: uppercase;
}

#reset{
    float: center;
    font-size: 2.5vh;
  }

#submit{
    float: center;
    font-size: 2.5vh;
}
#photoButton{
  background-color: blue;
  border-radius: 15%;
}

#opcao1{
  background-image: url(classificacao-livre-logo.jpeg);
}

#titleForm {
  font-size: 6vh;
  display: flex;
  justify-content:center;
  align-items:center;
  width: fit-content;
}